.img img{
  width: 100%;
}
.navbar{
  background-color: #1D4354;
}
body{
  background-color: #F1F2F4;
}

#logo{
  font-family: "Neue Montreal", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1,h2,h3,h4,h5{
  color: #1D4354
  font-weight:300;
}
p{
  color: #1D4354;
  
}
.banner img{
  width: 100%;
}

.skill1{
  height:30vh;
  align-items: center;
  background-image: url('Frontend/1.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}
.skill2{
  height:30vh;
  align-items: center;
  background-image: url('Frontend/2.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}
.skill3{
  height: 30vh;
  align-items: center;
  background-image: url('Frontend/3.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}
.bg{
  background-color: #1D4354;
}
